<?xml version="1.4"?>
<launch>

<param name="/route" type="str" value="to be filled" />
<param name="/use_sim_time" type="bool" value="true"/>
<param name="/map/filename" type="str" value="$(find map_api)/data/honda_wider.xodr"/>
<param name="/obstacles3/filename" type="str" value="to be filled"/>
<param name="/signals/filename" type="str" value="$(find planning)/config/honda.signals"/>
<param name="/car/dest_coord_x" type="double" value="to be filled"/>
<param name="/car/dest_coord_y" type="double" value="to be filled"/>


<include file="$(find simulator)/launch/simulator_ground.launch" pass_all_args="true">
	<arg name="car_pos" value="to be filled"/>
	<arg name="car_model" value="-sdf -file $(find simulator)/models/car/car.sdf -model car "/>
</include>

<include file="$(find control)/launch/honda_control.launch"/>



<group ns="camera1">
<node pkg="tf" type="static_transform_publisher" name="camera_broadcaster"
  args="0 0 72
        1.0 0.0 0.0 0.0
        /car/center/rotate /camera1 20" />
<node name="camera_info" pkg="rostopic" type="rostopic"
  args="pub camera_info sensor_msgs/CameraInfo
 '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: '/camera1'},
  height: 700, width: 700, distortion_model: 'plumb_bob',
  D: [0],
  K: [125.0, 0.0, 175, 0.0, 125.0, 175.0, 0.0, 0.0, 1.0],
  R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
  P: [125.0, 0.0, 175, 0.0, 0.0, 125.0, 175.0, 0.0, 0.0, 0.0, 1.0, 0.0],
  binning_x: 0, binning_y: 0,
  roi: {x_offset: 0, y_offset: 0, height: 700, width: 700, do_rectify: false}}' -r 2"
  output="screen"/>
</group>



<node name="car_frame" pkg="planning" type="car_frame" output="screen" respawn="true"/>

<node name="keyboard_node" pkg="keyboard" type="keyboard_node" output="screen" launch-prefix="xterm -e"/>

<node name="mapviewer" pkg="simulator" type="mapviewer" output="screen"/>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find planning)/config/honda_image.rviz" output="screen" respawn="true"/>

</launch>